<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <h2>Cat Clerk</h2>
    <h3>Reset Your Password</h3>

    <p>Click the link below to change your password:</p>
    <p>{{.URL}}</p>
</body>
</html>